.matched-line {
  background-color: yellow;
}

.dialogue-block:nth-child(1), .dialogue-block:nth-child(5) {
  opacity: 0.5;
}

.dialogue-block:nth-child(2), .dialogue-block:nth-child(4) {
  opacity: 0.75;
}

.vue-container {
  display: flex;
  justify-content: center;
}

.vue-container > article {
  width: 60rem;
  padding: 3rem;
}

#search-results {
  height: 30rem;
  width: 100%;
  overflow-y: scroll;
}
