.matched-line {
  background-color: yellow;
}

.dialogue-block:nth-child(1), .dialogue-block:nth-child(5) {
  opacity: 0.5;
}

.dialogue-block:nth-child(2), .dialogue-block:nth-child(4) {
  opacity: 0.75;
}

.vue-container {
  display: flex;
  justify-content: center;
}

.vue-container > article {
  width: 60rem;
  padding: 3rem;
}

#search-results {
  height: 30rem;
  width: 100%;
  overflow-y: scroll;
}

#episode-directory > .content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

#episode-directory {
  display: flex;
  flex-direction: column;
}

#episode-directory .content {
  &> main {
    width: 50%;
  }
  &> aside {
    width: 15%;
  }
}

.episode-index > ol {
  list-style-type: none;
}

table td, th {
  border: 1px solid black;
}

.current-episode-info {
  /*
  padding: 5rem;
  position: sticky;
  top: 0;
  */
  margin: 5rem;
  /*border: 1px solid black;*/
}

.episode-index button {
  background-color: inherit;
  border: 1px solid black;
  color: purple;
}

#index .selected {
  background-color: yellow;
}

#index .row .col-2 {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid black;
}
