/*
  light-orange #f1ba40
  light-orange-outline #f08322
  reddish #cb3208
  reddish-outline #e0581d
  blue #125271
  blue-outline #06363f
  light-green #67e4be
  peach #f8f9c9
*/

$light-green: #67e4be;
$light-orange: #f1ba40;
$reddish: #cb3208;
$reddish-outline: #e0581d;
$light-orange-outline: #f08322;
$blue: #125271;
$blue-outline: #06363f;

body {
  background-color: $blue;
}

header {
  /* padding: 4rem; */
  background-color: $blue-outline;
  background-image: url("./assets/star.png");
  border: 1rem solid $light-green;
  //display: flex;
  //justify-content: space-between;
  & a.Logo {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    border: 0.5rem solid $reddish;
    background-color: $light-orange;
    /* border-radius: 100px; */
    /* background: radial-gradient($light-orange-outline, $blue); */
    /* background: radial-gradient($blue, $light-orange-outline); */
    /* background: radial-gradient(closest-side, $light-orange-outline, $blue); */
    transition: box-shadow 0.25s;
  }
  & a.Logo:hover {
    box-shadow: 0 0 2rem $reddish-outline;
  }
  & nav {
    background-color: $blue;
    border: 0.5rem solid $light-green;
    margin: 1rem;
  }
  & nav a {
    color: $light-green;
    transition: text-shadow 0.25s;
    //font-size: 1.5rem;
  }
  & nav a:hover {
    text-shadow: 0 0 1rem white;
    color: white;
    text-decoration: none;
  }
}

form .Help {
  font-size: 0.75rem;
}

main {
  color: $light-green;
}

.Content {
  display: flex;
  justify-content: space-between;
}

span.Dialogue {
  color: yellow;
}
span.Search {
  color: blue;
}
span.Character {
  color: orange;
}
span._fieldValue {
  text-decoration: underline;
}

.EpisodeIndex a[role='button'] {
  display: inline-block;
  width: 100%;
  //text-align: left;
}

.EpisodeEntry {
  margin-left: 2rem;
  text-align: left;
}

.Help {
  text-align: left;
}

.EpisodeList {
  list-style-type: none;
  margin-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.EpisodeInfo {
  position: sticky;
  top: 0;
}

.EpisodeInfo p {
  text-align: left;
}

