nav {
  display: flex;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

nav > ul > li {
  list-style-type: none;
}

#grid-system-header-row {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  /* z-index: 0; */
}

#grid-system .book-cover {
  z-index: -1;
}
