#app nav {
  display: flex;
  justify-content: center;
}

nav > ul {
  display: flex;
  justify-content: space-around;
}

nav > ul > li {
  list-style-type: none;
}

.navibar-item {
  width: 10em;
}

#grid-system-header-row {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  /* z-index: 0; */
}

#grid-system .book-cover {
  z-index: -1;
}

#figures {
  display: flex;
  justify-content: space-around;
}

#figures img {
  max-width: 750px;
}

/* On small displays, make images display vertically */

@media (max-width: 1500px) {
  #figures {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #figures img {
    max-width: 50%;
  }
}

/* On small displays, make navi-items display vertically */

@media (max-width: 593px) {
  #app nav {
    flex-direction: column;
  }
  nav > ul {
    flex-direction: column;
  }
}

/* Give table some borders */

.row {
  border: 1px solid black;
}

.cell + .cell {
  border-left: 1px solid black;
}

/* Give table-text some padding */

@media (max-width: 771px) {
  .col-6 p {
    padding: 3rem;
  }
}
